@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #423B73;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #30CD8A;
    }
}

/* Header */

#menu{
    display: none;
}

header{
    flex-wrap: wrap;
    margin: 40px;
}

header>div{
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

header img{
    max-width: 268px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

header li a{
    font-size: 16px;
    padding: 5px;
}

#Menu2{
    display: none;
}

header>div>nav>ul>li:nth-child(2):hover #Menu2{
    display: grid;
    position: absolute;
    padding : 20px 10px;
    gap : 20px;
}

#ELearning{
    color: #E34E67;
    &:hover{
        color:#30CD8A;
    }
}

#menu{
    display: none;
}

/*Main*/

main{
    margin: 10px auto;
    flex-wrap: wrap;
}

main h2{
    font-family: "Pacifico", cursive;
    font-size: 23px;
    color: #E34E67;
    font-weight: normal;
}

main h3{
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 10px;
}

main a{
    margin-right: 30px;
    padding: 14px 31px;
    border-radius: 10px;
    }

main .Green2Clear{
    background-color: #30CD8A;
    color: white;
    font-size: 16px;
    border:1px solid #30CD8A;
    transition: 0.5s;
    &:hover{
        background-color: rgba(255, 255, 255, 0);
        color: #30CD8A;
        transition: 0.5;
        border: 1px solid #30CD8A;
    }
}

main .Clear2Green{
    background-color: rgba(255, 255, 255, 0);
    color: #30CD8A;
    font-size: 16px;
    border:1px solid #30CD8A;
    transition: 0.5s;
    &:hover{
        background-color: #30CD8A;
        color: white;
        transition: 0.5;
        border: 1px solid white;
    }
}

/* Section 1 */

main>#section1{
    flex-wrap: wrap;
    align-items: center;
}

main>#section1>div{
    max-width: 1920px;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

main>#section1>div>article{
    max-width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px ;

}


main>#section1>div>article>div>a{
    padding: 14px 31px;
    border-radius: 10px;
    }

main>#section1>div>img{
    max-width: 700px;
    width: 100%;
}

#section1 p{
    margin-bottom: 35px;
}

/* Section 2 */

main>#section2{
    background-color: #1E1D31;
    margin: 20px auto;
    padding: 120px;
    
}

#Bouton{
    text-align: center;
}

main>#section2>div>div{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

main>#section2>div>div>article{
    max-width: 630px;
    display: flex;   
    gap: 30px;
    margin-bottom:60px ;
}

main>#section2 p{
    color: white;
    max-width: 548px;
}
main>#section2 img{
    max-width: 63px;
    max-height: 63px;
}

main>#section2 h4{
    color: #30CD8A;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Section 3 */

main>#section3{
    text-align: center;
    margin: 20px auto;
}

main>#section3 h4{
    font-size: 24px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin: 20px;
    padding-left: 50px;
    text-align: start;
}
main>#section3 .role_Errante{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #30CD8A;
    margin: 20px;
    padding-left: 50px;
    text-align: start;
}

#intro_section3{
    margin-bottom: 50px;
}

#intro_section3 *{
    max-width: 630px;
    margin: auto;
}

#section3 .Errante div{
    display: flex;
    align-items: center;
    gap: 30px;
}

main>#section3 .Errante_description{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

main>#section3 .Description{
    background-color: #1E1D31;
    color: white;
    max-width: 568px;
    border-radius: 24px;
    padding: 40px;
}

/* Section 4 */

main>#section4{
    margin: 100px auto;
}

main>#section4>div{
    margin: auto;
}

main>#section4>#intro_section4{
    text-align: center;
    max-width: 612px;
    margin: auto;
}

main>#section4>div>div>article{
    background-color: #1E1D31;
    max-width: fit-content;
    max-height:fit-content  ;
    padding: 40px 400px 40px 40px;
    margin-bottom: 100px;
    margin-top: 100px;
}

#article_inscription{
    border-radius: 24px 0 0 24px;
}

main>#section4>div>div>article>h4{
    font-family: "Oswald", sans-serif;
    color: #30CD8A;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

main>#section4>div>div>article>ul{
    list-style-image:url(../img/check.png) ;
}

main>#section4>div>div>article>ul>li{
    color: white;
    font-size:16px ;
    font-family: "Open Sans", sans-serif;
}

main>#section4>#inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

main>#section4>#inscription>#article_inscription{
    padding: 120px;
}



#article_smallgroup{
    border-radius: 0 24px 24px 0;
}

main>#section4>#small_group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

#section4 a{
    margin-left: 300px;

}

main>#section4 img{
        max-width: 460px;
        width: 100%;
    }


/* Section 5 */

#section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section5>#sousSection5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 505px;
    margin: auto;
}

#Titre_formulair{
    text-align: center;
}

#formulaire>h3{
    text-align: center;
}

#section5>#formulaire{
    background-color: #1E1D31;
    max-width: 650px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 24px;
}

#section5>#formulaire *{
    color: white;
    background-color: #1E1D31;
    
}

#section5>#formulaire>form{
    display: grid;
}

#section5>#formulaire>form #precision, #raison, #entreprise, #prenom, #tel, #mail{
    border: #30CD8A solid 1px;
    margin: 10px;
    padding: 10px;
}

#section5>#formulaire>form #prenom_tel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: none;
}

#section5>#formulaire>form label{
    line-height: 30px;
}

#check{
    display: flex;
    align-items: baseline;
}

#section5>#formulaire>form>button{
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: flex;
    max-width: 255px;
    background-color: #30CD8A;
    border-radius: 23px;
    color: white;
    transition: all 0.3s ease;
    padding: 15px   ;
    padding: 10px 50px;
    &:hover{
        background-color: #E34E67;
        transition: all 0.3s ease;
    }
    
}
/* Footer */


footer{
    background-color: #363450;
    flex-wrap: wrap ;
}

footer>div{
    display: flex;
    gap: 30px;
    margin: 10px auto;
    justify-content: space-between;
    max-width: 1440px;
    padding: 30px;
}

footer>div>article{
    max-width: 300px;
}

footer h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

footer ul{
    display: inline;
}

footer li{
    margin-bottom: 10px;
}

footer *{
    color: white;
    list-style-type: none;
} 

footer>div p{
    margin-top: 22px;
}

footer>p{
    background-color: white;
    color: #363450;
    text-align: center;
    padding: 24px;
}

footer>p *{
    background-color: white;
    color: #363450;
}


/* responsive */

@media screen and (max-width:1320px){
    main>#section4>div>div>article{
            padding-right: 122px;
        }

}

@media screen and (max-width:1180px){
    #section4 a{
        margin-left: auto;
        margin-right: 0;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:1024px) {

    #menu{
        display: block;
    }

    header>div>nav{
        display: none;
    }

    #menu:hover{
        color: #30CD8A;
        }

    #menu:hover header>div>nav{
        display: flex;
    }

    main>#section3 .Errante_description{
        display: grid;
    }

    main>#section4>div>div>article{
            padding-right: 20px;
        }
    
    #section5{
        grid-template-columns: 1fr;
        display: grid;
        justify-items: center;
    }

    #section5 article{
        margin-top: 20px;
    }
}

@media screen and (max-width:767px){
    main>#section4>#inscription{
        display: grid;
        gap: 30px;
        justify-items: center;
    }

    main>#section4>#inscription>div>article{
        margin-bottom: 10px;
        padding-right: 40px;
        border-radius: 24px;
    }

    main>#section4>#small_group{
        display: grid;
        gap: 30px;
        justify-items: center;
        flex-direction: row-reverse;
    }

    main>#section4>#small_group>div{
        grid-row: 1;
    }

    main>#section4>#small_group>div>article{
        margin-bottom: 10px;
        padding-right: 40px;
        border-radius: 24px;
        ;
    }


}